.album {
    position:relative;
    overflow:hidden;
    cursor:pointer;
    background:$color-dark;

    &:after {
        content:' ';
        position:absolute;
        top:0;
        left:0;
        z-index:1;
        display:block;
        width:100%;
        height:100%;
        background:rgba($color-dark, 0.75);
        opacity:0;
        transition:opacity 0.25s;
    }

    &.is-active,
    &:hover {
        &:after {
            opacity:1;
        }
    }

    &.is-active {
        cursor:default;
    }

    &__cover {
        display:block;
        width:100%;
        transition:all 0.25s;

        .album:not(.is-active):hover & {
            transform:scale(1.2);
        }
    }

    &__rank {
        position:absolute;
        z-index:2;
        bottom:2px;
        right:5px;
        font-size:16px;
        line-height:1em;
        font-weight:900;
        font-style:italic;
        color:#FFF;
        text-shadow:0px 0px 5px $color-dark;

        .album.is-active & {
            display:none;
        }
    }

    &__readmore {
        opacity:0;
        display:inline-block;
        position:absolute;
        z-index:2;
        width:32px;
        height:32px;
        margin-top:-18px;
        margin-left:-18px;
        border:2px solid #FFF;
        border-radius:18px;
        top:50%;
        left:50%;
        font-size:16px;
        text-align:center;
        line-height:32px;
        color:#FFF;
        transition:opacity 0.25s;

        .album:not(.is-active):hover & {
            opacity:1;
        }
    }

    &__infos {
        opacity:0;
        visibility:hidden;
        position:absolute;
        z-index:2;
        top:0;
        left:0;
        width:100%;
        height:100%;
        padding:20px;
        box-sizing:border-box;
        transition:opacity 0.25s;
        transition-delay:0.25s;
        color:#FFF;

        .album.is-active & {
            opacity:1;
            visibility:visible;
        }
    }

    &__play {
        display:inline-block;
        position:absolute;
        z-index:2;
        width:64px;
        height:64px;
        margin-top:-34px;
        margin-left:-34px;
        border:2px solid #FFF;
        border-radius:34px;
        top:50%;
        left:50%;
        font-size:32px;
        text-align:center;
        line-height:64px;
        color:#FFF;
        text-decoration:none;
        opacity:1;
        transition:opacity 0.25s;

        &:hover {
            color:$color-red;
        }

        .album.is-playing & {
            color:$color-red;
            animation-name:blinking;
            animation-duration:2s;
            animation-iteration-count:infinite;
        }
    }

    &__title {
        display:block;
        font-size:22px;
        font-weight:400;
        font-style:italic;
        margin-bottom:3px;
    }

    &__artist {
        display:block;
        font-size:22px;
        font-weight:900;
        font-style:italic;
        text-transform:uppercase;
    }

    &__style {
        position:absolute;
        bottom:50px;
        background:#FFF;
        color:$color-dark;
        font-weight:600;
        font-size:15px;
        font-style:italic;
        padding:5px 10px;
    }

    &__label {
        position:absolute;
        bottom:20px;
        left:20px;
        font-style:italic;
        font-size:15px;
    }

    &__year {
        position:absolute;
        bottom:20px;
        right:20px;
        font-size:16px;
        font-weight:900;
        font-style:italic;
        color:#FFF;
    }

}