.albums {
    margin-bottom:40px;
    animation-timing-function:cubic-bezier(0.68, -0.55, 0.265, 1.55);
    animation-duration:0.8s;
    transform-style: preserve-3d;

    &.is-orderby-rankcat {
        animation-name:rankcat;
    }
    &.is-orderby-yearcat {
        animation-name:yearcat;
    }
    &.is-orderby-stylecat {
        animation-name:stylecat;
    }

    &__cat {
        position:relative;
        list-style:none;
        margin:0 0 40px 0;
        padding:0;

        &:after {
            display:block;
            content:' ';
            clear:both;
        }
    }

    &__caption {
        display:block;
        margin-bottom:40px;
        font-size:18px;
        font-style:italic;
        font-weight:900;
        text-align:center;

        &:before {
            position:absolute;
            z-index:0;
            display:block;
            content:' ';
            width:100%;
            height:1px;
            background:$color-dark;
            top:10px;
        }

        &Label {
            display:inline-block;
            position:relative;
            z-index:1;
            padding:0 40px;
            background:#FFF;
        }
    }

    &__item {
        transition:width linear 0.25s;
        
        @include span(1 of 2);
        margin-bottom: gutter(2/2);
        @media (min-width: $bp-phone) {
            @include span(1 of 3);
            margin-bottom: gutter(3/2);
        }
        @media (min-width: $bp-tablet) {
            @include span(1 of 5); 
            margin-bottom: gutter(5/2);
        }

        &.is-active {
            @include span(2 of 2);
            @media (min-width: $bp-phone) {
                @include span(2 of 3);
            }
            @media (min-width: $bp-tablet) {
                @include span(2 of 5);
            }
        }
    }

}