.cover {
    position:relative;
    overflow:hidden;
    text-align:center;
    margin-bottom:0;
    margin-top:55px;
    @media (min-width:$bp-phone) {
        margin-top:0;
        margin-bottom:20px;
    }
    @media (min-width:$bp-phablet) {
        margin-top:0;
        margin-bottom:40px;
    }

    &:after {
        display:block;
        position:absolute;
        content:' ';
        height:50%;
        width:100%;
        left:0;
        bottom:0;
        background:linear-gradient(to bottom, transparent, rgba(#000,0.9));
    }

    &__image {
        width:100%;
        height:inherit;
        filter:blur(1px) grayscale(25%);
        background-size:cover;
        background-attachment:fixed;
        background-repeat:no-repeat;
        background-position:center;
    }

    &__text {
        box-sizing:border-box;
        padding:0;

        @media (min-width:$bp-phone) {
            position:absolute;
            z-index:1;
            text-align:center;
            width:100%;
            bottom:25%;
            left:0;
            padding:0 1%;
        }
    }

    &__title {
        display:inline-block;
        max-width:680px;
        color:$color-dark;
        font-size:28px;
        font-weight:900;
        font-style:italic;
        border:2px solid #FFF;
        border-left:none;
        border-right:none;

        @media (min-width:$bp-phone) {
            color:#FFF;
            padding:20px;
            text-shadow:2px 2px 5px #000;

            &:before {
                content:'REWIND';
                position:absolute;
                display:inline-block;
                width:100px;
                top:10px;
                left:50%;
                margin-left:-50px;
                padding:8px;
                padding-left:15px;
                padding-right:15px;
                font-size:30px;
                font-weight:900;
                font-style:normal;
                background:#FFF;
                color:$color-dark;
                text-shadow:none;
                transform:skewX(165deg);
                box-shadow:0px 0px 10px $color-dark;
            }
        }

        @media (min-width:$bp-phablet) {
            font-size:36px;
            &:before {
                top:3px;
                font-size:25px;
            }
        }

        @media (min-width:$bp-tablet) {
            font-size:42px;
            padding:40px 0;
            &:before {
                top:3px;
                font-size:25px;
            }
        }

    }

    &__arrow {
        display:none;
        @media (min-width:$bp-phone) {
            position:absolute;
            z-index:1;
            left:50%;
            bottom:12.5%;
            margin-left:-18px;
            margin-top:18px;
            display:inline-block;
            width:32px;
            height:32px;
            border-radius:18px;
            font-size:32px;
            color:#FFF;
            text-decoration:none;
            border:2px solid #FFF;
            opacity:1;
            transition:opacity 0.5s;
            animation-name:blink;
            animation-duration:2s;
            animation-iteration-count:infinite;

            &:hover {
                animation-play-state:paused;
                opacity:1;
            }
        }
    }
}