.header {
	position:fixed;
	z-index:10;
	width:100%;
	height:55px;
	top:0;
	left:0;
    background:rgba($color-dark, 0.9);
    text-align:center;
    transition:all 0.25s;

    @media (min-width:$bp-phone) {
        height:90px;
    }

    &__logo {
    	display:inline-block;
        width:100%;
        height:100%;
        background:url("../img/logo.png") no-repeat center;
        background-size:auto 40%;
    }

    &:after {
        display:block;
        position:absolute;
        content:' ';
        height:3px;
        width:100%;
        left:0;
        bottom:-3px;
        background:linear-gradient(to bottom, rgba(#000,0.5), transparent);
    }

    &.is-reduced {
        height:55px;
    }

    body.is-navigating & {
        background:rgba($color-dark, 1);
        height:55px;
    }
}