.player {
    position:fixed;
	z-index:10;
	width:100%;
	height:55px;
	left:0;
    bottom:-100%;
    transition:bottom 0.25s;
    background:$color-dark;

    &:before {
        display:block;
        position:absolute;
        content:' ';
        height:3px;
        width:100%;
        left:0;
        top:-3px;
        background:linear-gradient(to top, rgba(0,0,0,0.5), transparent);
    }

    &.is-active {
        bottom:0;
    }
}