.player {
    display:table;
    position:fixed;
	z-index:10;
	width:100%;
	height:55px;
	left:0;
    bottom:-100%;
    transition:bottom 0.25s;
    background:rgba(#000, 0.9);

    &:before {
        display:block;
        position:absolute;
        content:' ';
        height:3px;
        width:100%;
        left:0;
        top:-3px;
        background:linear-gradient(to top, rgba(#000,0.5), transparent);
    }

    &.is-active {
        bottom:0;
    }

    body.is-navigating & {
        bottom:-100%;
    }

    a {
        color:#FFF;
        text-decoration:none;
    }

    &__infos,
    &__controls,
    &__progressbar,
    &__button,
    &__branding {
        display:table-cell;
        vertical-align:middle;
    }

    &__infos {
        width:15%;
    }

    &__controls {
        width:15%;
    }

    &__progressbar {
        width:40%;
    }

    &__button {
        width:20%;
        text-align:center;

        .button {
            background:$color-dark;
            border-color:#FFF;
            line-height:30px;
            font-size:13px;

            &:hover {
                background:#FFF;
                color:$color-dark;
            }
        }
    }

    &__branding {
        width:10%;
        text-align:center;
    }

    &__control {
        display:inline-block;
        font-size:32px;
        margin:0 10px;
    }

    &__logo {
        display:inline-block;
        width:110px;
        height:15px;
        background:url("../img/logo.png") no-repeat left;
        background-size:100%;
        filter:grayscale(100%);
    }

    #player {
        position:absolute;
    }
}