.button {
    display:inline-block;
    line-height:50px;
    padding:0 15px;
    border:2px solid $color-dark;
    box-sizing:border-box;
    font-size:14px;
    font-style:italic;
    font-weight:500;
    text-transform:uppercase;
    text-decoration:none;
    color:#000;
    background:#FFF;
    text-align:center;
    transition: background 0.25s;

    &:hover {
        background:$color-lighter;
    }

    &.is-active {
        background:$color-dark;
        color:#FFF;
        cursor:default;
    }
}