.paragraph {
    color:#000;
    font-size:15px;
    line-height:20px;
    text-align:justify;

    &--2 {
    text-align:center;
    font-weight:100;
    font-size: 18px;
    margin:0 auto 20px auto;

    }

    p {
    	margin:0;
    }


}