            <form class="form">
                  <div class="form__row" ng-repeat="row in filterRows" ng-if="!(section == 'catalogue' && row.groupKey == 'gender')">
                        <span class="form__caption">{{row.groupLabel}}</span>
                        <div class="form__col" ng-repeat="(index, item) in row.groupFilters" ng-class="(index == 0) ? 'form__col--first' : ''">
                              <span class="form__label" ng-class="(tmpFilters[row.groupKey] == item.filterkey) ? 'is-active' : ''" ng-click="selectFilter(row.groupKey, item.filterkey)">{{item.label}}</span>
                              <img ng-src="{{getImage(item.image, {})}}" class="form__image" />
                        </div>
                  </div>
            	<div class="form__row">
            		<div class="form__col">
	            		<input type="button" value="Reset &amp; close" ng-click="resetFilters()" class="button button--reset" />
	            	</div>
	            	<div class="form__col">
            			<input type="button" value="Apply" ng-click="setFilters()" class="button button--submit" />
            		</div>
            	</div>
            </form>