<div class="footer__share">
	<h3 class="heading heading--3">Félicitations !</h3>
	<h4 class="heading heading--4">Vous êtes arrivé au bout de ce classement </h4>
	<p class="paragraph paragraph--2">Si vous avez aimé cette expérience, parlez en autour de vous…</p>
	<img src="../../img/share-btns.png" alt="share btns" width="535px">
</div>

<div class="footer__mixtape">
	<h3 class="heading heading--3">NE PARTEZ PAS LES MAINS VIDES !</h3>
	<p class="paragraph paragraph--2">Télécharger la mixtape REWIND qui retrace ce classement à travers une sélection de 100 morceaux.</p>
	<a class="mixtape-cover" href="">
		<img src="../../img/MIX-LA-FRESH-TOUCH-AN-INTRODUCTION-TO-FRENCH-FUTURE-BEAT-ALBUM-COVER.png" alt="mixtape REWIND - les 100 meilleurs albums de rap US depuis 2000" width="500px"></a>
	<a class="button" href="">Télécharger la mixtape</a>
</div>

<div class="footer__aperoboat">
	<h3 class="heading heading--3">Et RDV AU BATOFAR LE 24 SEPTEMBRE</h3>
	<p class="paragraph paragraph--2">pour une soirée dédiée à ce classement des 100 classiques de Rap US post-2000</p>
	<img src="../../img/Flyer-10x14-with-logo.png" alt="aperoboat REWIND - les 100 meilleurs albums de rap US depuis 2000">
</div>

<div class="footer__credits">
	<p class="paragraph paragraph--2">Ce classement vous a été proposé par :</p>
	<img src="../../img/logo-tbpz-V2-square-blk.png" alt="the backpakcerz">
</div>
