                <a href ng-click="go('back')" class="button button--back">Back</a>
                <a href ng-click="go('/')" class="logo"></a>
                <ul class="breadcrumb" ng-show="pageTitle">
                    <li class="breadcrumb__item">Timepieces</li>
                    <li class="breadcrumb__item">{{pageTitle}}</li>
                </ul>
            	<div class="filters" ng-if="context=='screen'" ng-show="hasFilters && dspFilters.length">
	            	<span class="filters__caption">Filters</span>
	            	<ul class="filters__labels">
	            		<li class="filters__label" ng-repeat="filter in dspFilters" ng-bind-html="filter.label"></li>
	            	</ul>
	            </div>