            <a href ng-click="closeNav()" class="burger">Menu</a>
            <ul class="nav">
                <li ng-repeat="(index, item) in navItems" class="nav__item" ng-class="[item.children.length ? 'nav__item--accordion': '', isActiveSubNav(index) ? 'is-active': '']">
                    <a ng-if="!item.children.length" href ng-click="go('/'+ item.id)" ng-bind-html="item.label | formatNavItem"></a>
                    <a ng-if="item.children.length" href ng-click="toggleSubNav(index)" ng-bind-html="item.label | formatNavItem"></a>
                    <ul ng-if="item.children.length" class="nav nav--sub ng-hide-animate" ng-show="isActiveSubNav(index)">
                        <li ng-repeat="child in item.children" class="nav__item"><a href ng-click="go('/'+ item.id +'/'+ child.id)">{{child.label}}</a></li>
                    </ul>
                </li>
            </ul>