<div class="collecListing" ng-class="(offsetLeft < 0 && offsetLeft == -offsetLeftMax) ? 'is-ending' : ''" ng-controller="CollecListingCtrl">
	<ul class="collecListing__items" style="width:{{(itemWidth * itemsNum)}}px;left:{{offsetLeft}}px;" ng-swipe-left="to('left')" ng-swipe-right="to('right')">
		<li class="collecListing__item" ng-repeat="(index, item) in items" style="background-image:url({{getImage(item.backgroundimage, {device:'medium',screen:'large'})}});">
			<a href ng-click="go('/collections/'+ item.id)">
				<span class="collecListing__label">{{item.label}}</span>
				<img ng-src="{{getImage(item.watchimage, {device:'small',screen:'medium'})}}" alt="{{item.label}}" class="collecListing__watch" />
			</a>
		</li>
	</ul>
</div>