RewriteEngine On
RewriteBase /
RewriteRule ^rewind-les-100-meilleurs-albums-de-rap-us-depuis-2000$ /special/rewind/ [L]

# BEGIN WordPress
<IfModule mod_rewrite.c>
RewriteRule ^index\.php$ - [L]
RewriteCond %{REQUEST_FILENAME} !-f
RewriteCond %{REQUEST_FILENAME} !-d
RewriteRule . /index.php [L]
</IfModule>
# END WordPress
